.Contact {
    margin-top: 5rem;
        color: #FFDADA;
        text-align: center;

        .Title {
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }

        .Opentimes {
            font-size: 2rem;
        }
}